---
import Layout from "../layouts/Layout_portfolio.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Github from "../components/icons/Github.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import Container_brieft from "../components/Container_brieft.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import BrainIcon from "../components/icons/BrainIcon.astro";
import Projects from "../components/Projects_portfolio.astro";
import Footer from "../components/Footer.astro";
import imgProfile from "../img/pic.jpg";
import { Image } from "astro:assets";
---

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"
></script>
<Layout title="ѕтινєη ¢σℓσяα∂σ">
	<main class="px-4">
		<Container class="py-44 pb-24 h-auto min-h-100vh" id="top">
			<Image
				class="rounded-full w-40 h-40 mb-4 object-cover object-top"
				src={imgProfile}
				alt="Stiven photo"
			/>

			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-2 lg:pb-5 justify-start"
			>
				Proyectos realizados
			</h1>
			<a
				href="https://www.linkedin.com/in/stiven-colorado-370028220/"
				target="_blank"
				class="flex justify-start items-center pb-4"
			>
				<span class="flex justify-start"
					><Badge>Disponbile para trabajar</Badge></span
				>
			</a>
			<h2 class="text-xl lg:text-xl text-wrap max-w-[700px] text-white">
				<span class="opacity-80 text-purple-400"
					>Desarrollar</Desarrollar></span
				>
				<span class="text-red-100/90"> es transformar problemas en oportunidades.</span>
			</h2>
		</Container>
		<Container_brieft id="proyectos">
			
			<Projects />
		</Container_brieft>
		<Footer />
	</main>
</Layout>
