---
import Cube from "./Cube.astro";
import ExperienceItem from "./ExperienceItem.astro";
import QrIcon from "./QrIcon.astro";
import BrainIcon from "./icons/BrainIcon.astro";
import KeyboardIcon from "./icons/KeyboardIcon.astro";
const items = [
    {
        date: "Marzo 2025 - Actualmente",
        title: "Desarrollador de Software FullStack - GS PRO MASTER MOVING",
        description:
            "Desarrollador Full Stack con enfoque en Python/Django para backend y JavaScript/Tailwind en frontend. He trabajado en la creación de APIs REST siguiendo DDD, integración de autenticación con JWT, consumo de bases de datos MySQL y almacenamiento en S3. También participo en el diseño de interfaces limpias y responsivas, y en la documentación técnica con herramientas como DRF Spectacular.",
        link: "#",
    },
     {
        date: "Noviembre 2024 - Diciembre 2025",
        title: "Contratista Desarrollador en Comercializadora la rocka SAS.",
        contact: "+57 324 2818821",
        description:
            "Desarrollé una aplicación que automatizó procesos manuales, optimizando la gestión de datos y reduciendo tiemposoperativos. La herramienta procesaba archivos Excel con un formato predefinido, generando informes y archivos de salidamediante Python, OpenCV, OpenPyXL y Pandas. Además, implementé una interfaz gráfica con Tkinter, lo que me permitióaprender y aplicar esta nueva tecnología, mejorando la usabilidad del sistema.",
        link: "#",
    },
    {
        date: "Agosto 2024 - Enero 2025",
        title: "Practicante Desarrollador de Software - Sena sennova",
        description:
            "Creé un sistema de agendamiento para un estudio fotográfico con React.js y NodeJs, mejorando la gestión de citas en CámaraStudio de la Cámara de Comercio de Palmira.Automatizé la gestión de asistencias en eventos mediante Python, integrando el envío de correos masivos con códigos QR ygenerandoinformes con Django y Pandas.",
        link: "#",
    },
    {
        date: "Abril 2024 - Junio 2024",
        title: "Practicante Desarrollador de Software - Accedo Technologies",
        description:
            "Aprendí y apliqué PHP, Laravel, migraciones, y entidades para gestionar bases de datos de manera eficiente.Implementé DataTables con Vue.js, mejorando la interacción con datos en interfaces.Desarrollé una simulación de tienda con autenticación de usuarios y conexión a bases de datos, logrando la aprobación de unexamen práctico.",
        link: "#",
    },
    {
        date: "Diciembre 2023",
        title: "Desarrollador Backend - contratista ICA",
        contact: "+57 317 5404432",
        description:
            "Colorabore en un proyecto para el registro de asistencia de eventos. agregacion de contactos, lectura de QR.",
        link: "#",
    },
    {
        date: "Abril 2021",
        title: "Desarrollador en Isilab Foundation",
        description:
            "Hice parte en el Desarrollo de juegos logico-matematicos para niños con discapacidades cognitivas.",
        link: "#",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 pl-3">
    {
        items.map((item, index) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...item}>
                    {console.log(index)}
                    {index === 0 && <BrainIcon />}
                    {index === 1 && <KeyboardIcon />}
                    {index === 2 && <QrIcon />}
                    {index === 3 && <Cube />}
                </ExperienceItem>
            </li>
        ))
    }
</ol>
